In [2]:
import pandas as pd

#These are the various kind of dates which will change to the particular type by using "to_datetime"

dates=['2024-01-05','Jan 5,2024','01/05/2024','2024.01.05','2024.01.05']

pd.to_datetime(dates)

DatetimeIndex(['2024-01-05', '2024-01-05', '2024-01-05', '2024-01-05',
               '2024-01-05'],
              dtype='datetime64[ns]', freq=None)

In [3]:
dt = ['2024-01-05 2:30:00 PM', 'Feb 5, 2024 14:30:00', '01/05/2016', '2023.01.05', '2025/01/05','20140105']
pd.to_datetime(dt)

DatetimeIndex(['2024-01-05 14:30:00', '2024-02-05 14:30:00',
               '2016-01-05 00:00:00', '2023-01-05 00:00:00',
               '2025-01-05 00:00:00', '2014-01-05 00:00:00'],
              dtype='datetime64[ns]', freq=None)

# Custom date

In [14]:
pd.to_datetime('2017$01$05', format='%Y$%m$%d')

Timestamp('2017-01-05 00:00:00')

In [10]:

date_strings = ['2017$01$05']

dates = pd.to_datetime(date_strings, format='%Y$%m$%d')
dates

DatetimeIndex(['2017-01-05'], dtype='datetime64[ns]', freq=None)

In [18]:
pd.to_datetime('2017*01*05', format='%Y*%m*%d')

Timestamp('2017-01-05 00:00:00')

# Invalid syntax

In [19]:
pd.to_datetime(['2017-01-05', 'Jan 6, 2017', 'abc'], errors='ignore')

Index(['2017-01-05', 'Jan 6, 2017', 'abc'], dtype='object')

In [21]:
pd.to_datetime(['2017-01-05', 'Jan 6, 2017', 'abc'], errors='coerce')

#"coerce" is used to handle the pasrsing errors by attempts to "Not a time" instead of rasing eorr

DatetimeIndex(['2017-01-05', '2017-01-06', 'NaT'], dtype='datetime64[ns]', freq=None)

# Epoch

In [22]:
#Epoch is defined as the Epoch or Unix time means number of seconds that have passed since Jan 1 1970 00:00: UTC time

#Epoch time represents time as the number of seconds that have passed since the Unix Epoch.

#For this the reference date and time is January 1, 1970 at 00:00:00 UTC

In [35]:
current_epoch = 1721357784
pd.to_datetime(current_epoch, unit='s')

Timestamp('2024-07-19 02:56:24')

In [36]:
pd.to_datetime(current_epoch*1000, unit='ms')

# Multiplying by 1000 which converts the Unix time from seconds to milliseconds.

Timestamp('2024-07-19 02:56:24')

In [37]:
e = pd.to_datetime([current_epoch], unit='s')
e

DatetimeIndex(['2024-07-19 02:56:24'], dtype='datetime64[ns]', freq=None)

In [39]:
e.view('int64')

array([1721357784000000000], dtype=int64)

In [40]:
t.view('int32')

#Ouput is truncation or overflow, meaning the original values are not correctly represented in 32-bit space.

array([-1949701120,   349554344])